body {
    background-image: url(../images/white_carbonfiber.png);
    margin: 0;
}

header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #cccccc;
    position: static; 
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    height: 70px;
    margin: 0;
    position: relative;
}

nav {
    clear: both;
    text-align: right;
    position: relative;
    width: 960px;
    margin: auto;
    padding: 0;  
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 270px;
    font-size: 35px;
    height: 70px;
    margin: 0;
    text-align: center;
    line-height: 70px;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

a {
    position: relative;
    top: -45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-right: 20px;
}

main {
    width: 960px;
    margin: auto;
    padding: 50px;

}

section {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 650px;
    float: left;
    margin: 0 0 150px 0;
}

h2 {
    color: #4aaaa5;
    margin: 0 5px;
    padding: 20px;
    font-size: 190%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#bar {
    background-color: #dddddd;
    height: 3px;
    width: 610px;
    margin: auto;   
}

#profilePic {
    float: left;
    padding: 20px 25px 5px 25px;
}

p {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
    text-align: justify;
}

#p1 {
    margin: 0 40px;
    padding: 10px; 
}
#p2 {
    margin: 0 40px 30px 25px;
    padding: 5px 10px 0 0;
}

aside {
    width: 270px;
    height: 210px;
    background-color: #ffffff;
    margin: 0 0 40px 40px;
    float: left;
}

h3 {
    color: #4aaaa5;
    text-align: center;
    padding:20px 0;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#asideBar {
    background-color: #dddddd;
    height: 1px;
    width: 225px;
    margin: auto;
}

#gitIco {
    position: relative;
    top: 40px;
    left: 21px;
}

#linkedInIco {
    position: relative;
    top: 40px;
    left: 14px;
}

#stackIco {
    position: relative;
    top: 40px;
    left: 7px;
}

.box {
    position: relative;
    float: left;
    margin: 65px auto 0 auto;
    width: 50%;
}

#hangmanImg {
    position: relative;
    margin: 10px 29px;
}

#hangman {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    width: 267px;
    height: 35px;
    text-align: center;
    top: 100px;
    font-size: 30px;
    left: 29px;
}

#rpgGameImg {
    position: relative;
    margin: 10px 29px;
}

#rpgGame {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    width: 267px;
    height: 35px;
    text-align: center;
    top: 100px;
    font-size: 30px;
    left: 29px;
}

#triviaImg {
    position: relative;
    margin: 10px 29px;
}

#trivia {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    width: 267px;
    height: 35px;
    text-align: center;
    top: 100px;
    font-size: 30px;
    left: 29px;
}

#rutgersImg {
    position: relative;
    margin: 10px 29px;
}

#rutgers {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    width: 267px;
    height: 35px;
    text-align: center;
    top: 100px;
    font-size: 30px;
    left: 29px;
}

#rpsImg {
    position: relative;
    margin: 10px 29px;
}

#rps {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    width: 267px;
    height: 35px;
    text-align: center;
    top: 100px;
    font-size: 30px;
    left: 29px;
}

form {
    height: 400px;
    width: 100%;
    margin: 0;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    position: relative;
    top: -10px;
}

#etrName {
    position: relative;
    top: 20px;
    left: 20px;
}

#enterName {
    width: 90%;
    position: relative;
    top: 11px;
    left: -45px; 
}

#etrEmail {
    position: relative;
    top: 50px;
    left: 20px;
}

#enterEmail {
    width: 90%;
    position: relative;
    top: 11px;
    left: -43px;
}

#etrMsg {
    position: relative;
    top: 80px;
    left: 20px;

}
#message {
    width: 90%;
    height: 150px;
    position: relative;  
}
#ass {
    position: relative;
    top: -40;
}

#etrSubmit {
    position: relative;
    top: 110px;
    left: 20px;
}

footer {
    background-color: #666666;
    clear: both;
    height: 55px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#preFootBar {
    background-color: #4aaaa5;
    width: 100%;
    height: 8px;
}

#footTxt {
    padding: 0 0 80px 0;
    text-align: center;
    color: #dddddd; 
}